

*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    font-family: Xolonium;
    font-size: 30px;
}

@font-face {
    font-family: "Xolonium";
    src: url(/fonts/Xolonium-Regular.otf);
}

main {
    color: darkblue;
    display:flex;    
    flex-direction: column;
    align-items: center;    
}

.tarjeta {
    background-color: aqua;
    max-width: 100vw;
    height: max-content;    
    margin-top: 20px;       
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 5px; 
}

.nombre-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.descripcion {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 20px 20px;

}

.descripcion > img {
    margin: 7px;
    border-radius: 50%;
    width: 300px;
    
}

.descripcion >p {
   
    text-align: center;
    line-height: 30px;
    width: 800px;
    padding-left: 15px;
}

.botones-sociales {
    
    text-align: center;    
    display: flex;
    flex-direction: column;
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-decoration: none; 
    
}

footer {
    color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;        
    padding-top: 9px;
    background-color: darkblue;
    width: 100%;
    height: 66px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.btn-social_1 {

color: darkblue;
background-color: rgb(61, 61, 251);
width: 900px;
text-decoration: none;
display: flex;    
    align-items: center;
    justify-content: center;
    padding: 6px;

}

.btn-social_2 {

    color: darkblue;
    background-color:rgb(85, 85, 236);
    width: 900px;
    text-decoration: none;
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 6px;

}

.btn-social_3 {

    color: darkblue;
    background-color: rgb(112, 112, 210);
    width: 900px;
    text-decoration: none;
    display: flex;    
    align-items: center;
    justify-content: center;
    padding:6px;
}

.fondo {
    position: absolute;
    width: 100vw;
    height: 100vw;
    z-index: -1;
}

.fondo-color {
    width: 100%;
    height: 21.5%;
    background-color: darkblue;
}

.fondo-blanco {
    width: 100%;
    height: 78.5%;
    background-color: aqua;
}

@media (min-width:900px) {

    .main {
        min-height: 100vh;
        justify-content: center;
    }

    .tarjeta {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        max-width: 900px;
    }

    .descripcion {
        flex-direction: column-reverse;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .nombre-usuario {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .botones-sociales {
        
        grid-column: 2/3;
        grid-row: 1/3;
    }

    footer {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    
}
